<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Posts')"></head>
<body>
<div th:replace="fragments/navbar :: myNav"></div>

<form th:action="@{/posts/{id}/update(id=${post.id})}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{body}" />
    <br />
    <input type="submit" />
    <input type="hidden" id="postId" th:value="${post.id}" />
    <button id="rm-post" class="btn btn-danger">Delete</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
<script>
    let rmbtn = document.querySelector("#rm-post");
    let postId = document.querySelector("#postId").value;
    rmbtn.addEventListener('click', function(e){
        e.preventDefault();
        let res = confirm("Are you sure?");
        if(res){
            fetch(`/posts/${postId}/delete`, {
                method: "POST"
            }).then( res => res.json()).then( () => location.href = "/posts");
        }
    });
</script>
</body>
</html>